* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  background-image: url(../images/banner/banner3.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-first {
  text-align: right;
}
.header .header-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 55px;
  margin: 0 300px;
  padding-right: 20px;
  padding-left: 600px;
  padding-bottom: 10px;
}
.header .header-description {
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 32px;
  width: 390px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  margin-right: 350px;
  margin-left: 950px;
  margin-bottom: 32px;
}
.btn-primary {
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  border-radius: 5px;
  padding: 16px 12px;
  gap: 8px;
  align-items: center;
  border: 0;
  margin-right: 350px;
}
/* my failures of previous year */
.previous {
  display: flex;
  margin: 130px 150px;
  gap: 100px;
  margin-bottom: 130px;
}
.previous .previous-person {
  padding-top: 250px;
  padding-right: 250px;
}
.plan-title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
}
.previous img {
  width: 569px;
  height: 723.3px;
}
.previous-sub-title {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
  width: 400px;
}
.previous-description {
  color: #444343;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
  width: 400px;
}
.previous-list {
  padding: 15px;
  list-style-type: inherit;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin: 8px;
}
/* plan items */
.plan-criteria {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-bottom: 130px;
}

.plan-item {
  text-align: center;
}
.plan-item .plan-title {
  font-weight: 700;
  font-size: 30px;
  color: rgb(24, 218, 159);
  margin-top: 12px;
  margin-bottom: 12px;
}
.plan-item .plan-description {
  font-weight: 500;
  font-size: 25px;
  color: #737272;
}
/* Gradiant mindset box */
.gradiant {
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%),
    url(../images/watch.png);
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 130px;
  width: 1140px;
  height: 300px;
}
.gradiant .gradiant-title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  width: 600px;
  padding-top: 40px;
  padding-left: 50px;
  margin-bottom: 24px;
}
.gradiant .btn-primary {
  margin-left: 50px;
  width: 160px;
  height: 64px;
  text-align: center;
}
/* footer part */
.footer-section {
  background: #151414;
  width: 100%;
  height: 580px;
}
.footer-mainpart {
  display: flex;
  gap: 20px;
  padding-top: 130px;
  margin: 0 150px;
}
.footer-title {
  color: #f8f8f8;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
}
.footer-description {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 24px;
  width: 500px;
}
.footer-email {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 16px;
}
.footer-number {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 32px;
}
.footer-section img {
  width: 47px;
  height: 46px;
}
.footer-subscribe {
  padding-left: 200px;
  width: 400px;
}
.footer-subtitle {
  font-weight: 600;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 31px;
}
.footer-subscribe input {
  font-weight: 400;
  font-size: 18px;
  background: none;
  border-radius: 5px;
  color: #f3f3f3;
  border-color: aliceblue;
  margin-bottom: 16px;
}
.footer-subscribe .btn-primary{
    background:  #005FAC;
    width: 170.11px;
height: 64px;
color: #FFFFFF;
text-align: center;
}